.land-tile {
	&.desert {
		background-image: url('/images/desert.png');
	}

	&.fields {
		background-image: url('/images/fields.png');
	}

	&.forest {
		background-image: url('/images/forest.png');
	}

	&.hills {
		background-image: url('/images/hills.png');
	}

	&.mountains {
		background-image: url('/images/mountains.png');
	}

	&.pasture {
		background-image: url('/images/pasture.png');
    }
    
    .selectors {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 30px;
        @media print {
            display: none;
        }
    }

	background-size: cover;
	display: inline-block;
	height: 172px;
    margin-right: -2px;
    position: relative;
	vertical-align: top;
	width: 152px;
}

.land-tile[prob]:after {
	display: block;
	width: 50px;
	height: 35px;
	margin: 60px 0 0 50px;

	content: attr(prob);

	line-height: 20px;
	padding-top: 13px;

	background-color: #E9D49D;
	border: 2px solid #AD9D75;
	border-radius: 27px;
	
	font-size: 25px;
	font-weight: bold;

	white-space: pre;
}