.ship {
    select {
        @media print {
            display: none;
        }
        position: absolute;
        z-index: 10;
    }

    span {
		background-size: 100%;
		display: block;
		height: 60px;
		width: 60px;
    }

	.any {
		background-image: url('/images/ship-any.png');
	}

	.brick {
		background-image: url('/images/ship-brick.png');
	}

	.lumber {
		background-image: url('/images/ship-lumber.png');
	}

	.ore {
		background-image: url('/images/ship-ore.png');
	}

	.sheep {
		background-image: url('/images/ship-sheep.png');
	}

	.wheat {
		background-image: url('/images/ship-wheat.png');
    }
    
    background-size: 100%;
    height: 60px;
    width: 60px;
}