body {
	padding-top: 20px;
}

.logo {
	img {
		width: 350px;
	}

	text-align: center;
}

.board {
	margin: 160px 0;
	position: relative;
}

.background {
	left: 50%;
	position: absolute;
	top: -90px;
	transform: translate(-50%, 0%);
	width: 994px;
	z-index: -1;
}

.row {
	display: block;
	text-align: center;
}

.row:not(:first-child) {
	margin-top: -43px;
}

.ship {
	&.ship-0 {
		span {
			transform: rotate(180deg);
		}

		top: -58px;
		left: calc(50% - 243px);
	}

	&.ship-1 {
		span {
			transform: rotate(180deg);
		}

		top: -58px;
		left: calc(50% + 23px);
	}

	&.ship-2 {
		span {
			transform: rotate(113deg);
		}

		top: 183px;
		left: calc(50% - 382px);
	}

	&.ship-3 {
		span {
			transform: rotate(220deg);
		}

		top: 71px;
		left: calc(50% + 261px);
	}

	&.ship-4 {
		span {
			transform: rotate(64deg);
		}

		top: 459px;
		left: calc(50% - 389px);
	}

	&.ship-5 {
		span {
			transform: rotate(295deg);
		}

		top: 320px;
		left: calc(50% + 396px);
	}

	&.ship-6 {
		span {
			transform: rotate(40deg);
		}

		top: 689px;
		left: calc(50% - 249px);
	}

	&.ship-7 {
		span {
			transform: rotate(0deg);
		}

		top: 689px;
		left: calc(50% + 34px);
	}

	&.ship-8 {
		span {
			transform: rotate(-50deg);
		}

		top: 553px;
		left: calc(50% + 268px);
	}

	position: absolute;
}

.name {
	textarea {
		width: 100%;
		text-align: center;
		border: none;
		font-size: 4em;
	}

	text-align: center;
}